body {
    margin: auto;
    background-color: #111318;
}

.top-bar {
    padding: 10px 0;
    height: 10%;
    width: 100%;
    top: 0px;
    right: 0px;
    position: sticky;
    background-color: rgb(12, 11, 11);
}

img {
    max-width: 100%;
}

.title {
    padding-right: 50px;
    padding-left: 20px;
    top: 0px;
    size: 8;
    color: #4ec400;
    display: inline-block;
}
/*
            Navigation Bar
*/
.nav-start {
    display: inline-block;
    padding-left: 50px;
}
.nav-option {
    font-size: 20px;
    border-style: solid;
    border-color: #0c0d10;
    color: #fff;
    font-size: 20px;
    background-color: rgb(12, 11, 11);
    border-style: none;
}
/*
            Search Results Box & Grid Container
*/
.result_box {
    margin: auto;
    margin-top: 20px;
    border-style: solid;
    border-color: #ff00;
    max-width: 500px;
    background-color: #111318;
}
.grid-container {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #111318;
    gap:10px;
}
.grid-item {
    background-color: #111318;
    border-style: groove;
    border-color: rgb(12, 11, 11);
    width: 150px;
    text-align: center;
}
.item-name {
    margin: auto;
    top: 0%;
    bottom: 5px;
    padding-bottom: 20px;
    background-color: rgb(12, 11, 11);
    height: 30px;
    width: 100mw;
}
/*
            Buttons And Textboxes
*/
.txt-input {
font-size: 20px;
    border-style: solid;
    border-color: #0c0d10;
    color: #fff;
    background-color: rgba(42, 42, 42);
}
.btn-input {
    font-size: 20px;
    border-style: solid;
    border-color: #0c0d10;
    color: #fff;
    background-color: #0c0d10;
    font-size: 20px;
}